<head>
	<title>image_share</title>
</head>

<body>
	<h1>Welcome to Meteor!</h1>
	{{> images}}
</body>

<template name="images">
	{{#each images}}
		<img src={{img_src}} alt={{img_alt}} />
	{{/each}}
</template>
