<head>
  <title>myfirstapp</title>
</head>

<body>
  {{> body}}

 <nav class="navbar navbar-default navbar-fixed-top"> <div class="container"> {{>
 loginButtons}} </div> </nav>

  <div class="container js-container">

    <h1>Welcome to image share {{username}}!</h1>

    {{> images}} </div> </body>

<template name="images">
<div class="row">
  {{#each images}}
    <div class="col-xs-12 col-md-3" id="{{_id}}">
      <div class="thumbnail">
      <img src="{{img_src}}" alt="{{img_alt}}" />
    </div>
    </div>
  {{/each}}
</div>
</template>
